<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">
    
    <mapping map-id="z">
        <class-a>rohan.test.dozer.A</class-a>
        <class-b>rohan.test.dozer.B</class-b>
        <field>
            <a>c.cstr</a>
            <b>bstr</b>
        </field>
<!--         <field> -->
<!--             <a>i</a> -->
<!--             <b>bint</b> -->
<!--         </field> -->
    </mapping>
</mappings>